<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <img class="banner-contact" src="https://res.cloudinary.com/dmq3cpw6u/image/upload/v1694423433/bannerMC_lamyty.png"><br>

  <h1>Bonjour, <%= @user.email %></h1>
  <p>
    Vous avez demandé un changement de mot de passe, cliquez sur le lien ci dessou pour procéder au changement.
  </p>
<%= link_to 'Reset password', @url %>
  <p>Merci!</p>
    <br>
  <img class="logo" src="https://res.cloudinary.com/dmq3cpw6u/image/upload/v1694423361/logoMC_uv40go.png">
</body>
</html>