<div class="email-content">
  <img class="banner-contact" src="https://res.cloudinary.com/dmq3cpw6u/image/upload/v1694423433/bannerMC_lamyty.png"><br>
  <h1>Bienvenue sur le site MyCoach!</h1><br>
  <p>Votre enregistrement est confirmé. Vous pouvez mettre à jour vos informations depuis le site MyCoach, achter des plans d'entrainement aupres des coachs et les consulter depuis votre page de profil.</p>
  <p>A trés bientôt!</p>
  <br><br>
  <a href=" https://mycoach.fly.dev/users/sign_in" class="button">Allez sur le site MyCoach</a>
  <br><br><br><br>
  <img class="logo" src="https://res.cloudinary.com/dmq3cpw6u/image/upload/v1694423361/logoMC_uv40go.png">
</div>
